{{ $isHome := .IsHome }}
<!DOCTYPE html>
<html>
  <head>
    {{ partial "google-analytics.html" . }}
    {{ partial "meta.html" . }}
    <title>
      {{ block "title" . }}
      {{ site.Title }} | {{ site.Params.description }}
      {{ end }}
    </title>
    {{ partial "css.html" . }}
  </head>
  <body{{ if not $isHome }} class="page has-navbar-fixed-top"{{ end }}>
    {{ if not $isHome }}
    <main class="main">
      {{ partial "navbar.html" . }}
    
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ else }}
    {{ block "main" . }}{{ end }}
    {{ end }}

    {{ partial "javascript.html" . }}
  </body>
</html>
