<footer class="footer has-background-light">
  <div class="container">
    <p class="title has-text-weight-bold has-text-primary is-spaced">
      {{ site.Title }}
    </p>

    <p class="subtitle">
      {{ site.Params.description }}
    </p>

    <hr class="has-background-grey" />

    <small class="has-text-weight-bold">
      Purple was created by <a href="https://github.com/lucperkins">Luc Perkins</a>, Developer Advocate for the <a href="https://cncf.io">Cloud Native Computing Foundation</a>, in {{ now.Year }}.
    </small>
  </div>
</footer>
