{{ $home  := site.BaseURL }}
{{ $title := site.Title }}
{{ $desc  := site.Params.description }}
<nav class="navbar is-primary">
  <div class="container">
    <div class="navbar-brand">
      <a class="is-size-5 navbar-item has-text-weight-bold" href="{{ $home }}">
        <span class="icon">
          <i class="fas fa-md fa-database"></i>
        </span>
        &nbsp;&nbsp;
        <span>
          {{ $title }}
        </span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          {{ $desc }}
        </div>
      </div>
    </div>
  </div>
</nav>
