{{ define "main" }}
{{ $title := site.Title }}
{{ $desc  := site.Params.description | markdownify }}
<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <p class="title is-size-1 is-size-2-mobile has-text-white-bis has-text-weight-bold is-spaced">
        {{ site.Title }}
      </p>

      <p class="subtitle is-size-3 is-size-4-mobile has-text-white-bis has-text-weight-medium">
        {{ $desc }}
      </p>

      <hr class="has-background-white-bis" />

      <div class="buttons">
        <a class="button is-black is-radiusless is-shadowless" href="https://github.com/purpledb/purple" target="_blank">
          <span class="icon">
            <i class="fab fa-github"></i>
          </span>
          <span class="has-text-weight-bold">
            purpledb/purple
          </span>
        </a>

        <a class="button is-primary is-inverted is-radiusless is-shadowless" href="/docs">
          <span class="icon">
            <i class="fas fa-folder-open"></i>
          </span>
          <span class="has-text-weight-bold">
            Docs
          </span>
        </a>

        <a class="button is-info is-inverted is-radiusless is-shadowless" href="/docs#contributing">
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
          <span>
            Contributing
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }}
